/*Alapvető stílus oldal
    Tervezett általános stílus tulajdonságok:
    - Háttérszín:  #7FBFFF
    - További színek (pl. menük háttere): #26394C
    - Szövegszínek, stílus, linkek színe: fekete, Times New Roman, fehér menü világosabb szín
    - Aktív oldal: aláhúzott, illetve baloldali szegély: 5px solid, szín: #00FFE0
    -

*/
header {
    border-radius: 10px;
    background-color: #26394C;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    font-variant: small-caps;
    text-align: center;

}
header img {
    float: left;
    margin: 20px 10px 0px 10px;
    width: 150px;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #26394C;
    color: aliceblue;
    font-size: medium;
}
